In [8]:
import acquire as a
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
df = a.acquire_edu_data()

## First thing I want to do is standardize all the column names.

In [14]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc',
       'LunchType', 'TestPrep', 'ParentMaritalStatus', 'PracticeSport',
       'IsFirstChild', 'NrSiblings', 'TransportMeans', 'WklyStudyHours',
       'MathScore', 'ReadingScore', 'WritingScore'],
      dtype='object')

    Key takaways:
    - there is a combination of upper and lowercase letters
    - Some columns have sapces 
    - unnamed columns are mirror of index so we can remove those columns.

In [15]:
# lets addess the first two with one line of code
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [20]:
# now for the unnamed columns
df.drop(columns=[c for c in df.columns if 'unnamed' in c],inplace=True)

### Now what to do is address the nulls. This is a special case with nulls becasue every data point is a student. To use df.dropna() will drop a student who didnt have a voice and we don't want to take that away from a child.

In [7]:
# first I want to see how many missing values there are in the dataset and set it to output it by % of columns
(df.isna().sum() / len(df) )* 100

Unnamed: 0.1            0.000000
Unnamed: 0              0.000000
Gender                  0.000000
EthnicGroup             6.005026
ParentEduc              6.021344
LunchType               0.000000
TestPrep                5.972390
ParentMaritalStatus     3.883685
PracticeSport           2.059332
IsFirstChild            2.950295
NrSiblings              5.130381
TransportMeans         10.228126
WklyStudyHours          3.116739
MathScore               0.000000
ReadingScore            0.000000
WritingScore            0.000000
dtype: float64

In [ ]:
Fist thing I want to do is drop